In [4]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
os.chdir('/data1/APA/Paul_ALS_Data/bams_in/subscelltype_bamfiles/Mapper_outs/')

In [3]:
# CTs = [ct for ct in os.listdir() if 'CTRL' in ct]
# CTs = list(set(CTs))
CTs = ['Astrocytes_sALSvsCTRL',
 'Astrocytes_C9ALSvsCTRL']

In [4]:
def plot_redu(df, name):
    dat = df['REDu']
    dat.replace([np.inf, -np.inf], np.nan, inplace=True)
    dat.dropna(inplace=True)
    ax = sns.distplot(dat)
    ax.set(xlabel='REDu', ylabel='Density')
    plt.axvline(dat.median(),
                color='red', label=round(dat.median(),2))
    plt.legend()
    outname = "REDU_plots/" + name + '_REDu_distplots.png'
    plt.savefig(outname)
    plt.clf()

In [6]:
for ct_cn in CTs:
    file = ct_cn + "/gene.txt"
    df = pd.read_csv(file, sep='\t')
    print(ct_cn)
    print(df.shape)
    plot_redu(df, ct_cn)

Astrocytes_sALSvsCTRL
(11075, 18)

/home/aiden/anaconda3/envs/for_DL/lib/python3.8/site-packages/seaborn/distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

Astrocytes_C9ALSvsCTRL
(11495, 20)

/home/aiden/anaconda3/envs/for_DL/lib/python3.8/site-packages/seaborn/distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [2]:
# lets read in a maaper outout for Excitatory neurons and see what we have
df = pd.read_csv('Excitatory_C9ALSvsCTRL/gene.txt', sep='\t')
df.head()

,gene,npas,pval,RLDu,RLDi,REDu,REDu.pval,REDi,REDi.pval,nread.c1.1,nread.c1.2,nread.c1.3,nread.c1.4,nread.c1.5,nread.c2.1,nread.c2.2,nread.c2.3,nread.c2.4,nread.c2.5
0,B3GALT6,2,0.000002,1.600,NaN,2.720,6.070000e-07,NaN,NaN,0,72,0,0,0,0,0,0,63,0
1,PUSL1,4,0.130000,0.212,NaN,0.964,1.220000e-02,NaN,NaN,37,193,0,0,88,79,0,40,125,0
2,MIB2,2,0.003960,NaN,0.917,NaN,NaN,0.917,1.150000e-03,61,315,0,0,327,467,75,384,931,0
3,PRKCZ,4,0.003760,-0.334,0.641,-0.564,1.610000e-02,0.836,2.510000e-08,170,589,0,105,491,488,57,446,848,29
4,SKI,5,0.394000,-0.143,-0.228,-0.556,5.310000e-02,0.177,6.460000e-01,34,150,0,34,162,293,34,126,220,0

In [6]:
# lets filter for REDu > 0.5 and REDu.pval < 0.05
long_df = df[(df['REDu'] < -1) & (df['REDu.pval'] < 0.05)] # this genes that are longer in ALS than CTRL
short_df = df[(df['REDu'] > 1) & (df['REDu.pval'] < 0.05)] # this genes that are shorter in ALS than CTLR
# sort by REDu descending
long_df.sort_values(by=['REDu'], ascending=True, inplace=True)
short_df.sort_values(by=['REDu'], ascending=False, inplace=True)
# lets see what we have
long_df.head()

/home/aiden/anaconda3/envs/for_DL/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,gene,npas,pval,RLDu,RLDi,REDu,REDu.pval,REDi,REDi.pval,nread.c1.1,nread.c1.2,nread.c1.3,nread.c1.4,nread.c1.5,nread.c2.1,nread.c2.2,nread.c2.3,nread.c2.4,nread.c2.5
1657,VPS36,9,1.410000e-19,-0.0127,-0.614,-9.83,3.840000e-20,-10.30,1.190000e-19,88,309,0,26,283,298,29,204,428,0
2828,UBL5,4,5.570000e-12,-4.2700,1.030,-6.44,2.450000e-12,2.38,5.660000e-12,0,316,0,73,86,62,0,56,165,0
413,PRDX1,3,1.760000e-06,-0.0630,NaN,-6.08,1.020000e-24,NaN,NaN,81,664,0,168,93,116,0,57,150,0
3377,ADI1,3,5.300000e-10,-4.4100,-0.150,-5.71,3.930000e-15,-4.77,3.870000e-09,25,96,0,0,46,48,0,9,106,0
5126,ABRACL,2,1.590000e-05,-4.3800,NaN,-5.70,1.810000e-11,NaN,NaN,0,164,0,0,29,26,0,0,105,0

In [7]:
short_df.head()

,gene,npas,pval,RLDu,RLDi,REDu,REDu.pval,REDi,REDi.pval,nread.c1.1,nread.c1.2,nread.c1.3,nread.c1.4,nread.c1.5,nread.c2.1,nread.c2.2,nread.c2.3,nread.c2.4,nread.c2.5
1086,MED19,3,3.790000e-08,1.2600,-0.00937,5.74,3.620000e-17,-4.49,1.060000e-11,43,220,0,45,81,148,0,57,183,0
4266,MAGI1,6,4.280000e-21,-0.0781,-0.00175,5.41,4.240000e-25,-1.09,4.860000e-07,97,410,15,16,485,652,54,249,463,27
396,PSMB2,3,6.770000e-45,1.2800,NaN,4.58,2.430000e-54,NaN,NaN,64,272,0,105,112,102,7,53,161,0
1510,WSB2,4,1.560000e-23,1.0600,NaN,3.86,1.370000e-25,NaN,NaN,74,458,0,83,210,206,60,133,271,0
3936,AP1B1,2,2.790000e-14,1.6500,NaN,3.77,1.330000e-40,NaN,NaN,25,146,0,35,101,92,16,38,142,0

In [10]:
# write the gene and REDu values to a file
long_df['REDu'] = long_df['REDu'] * -1
long_df[['gene', 'REDu']].to_csv('results/genes_for_pathways/Excitatory_C9ALSvsCTRL_lengthend_genes.txt', sep='\t', index=False, header=False)
short_df[['gene', 'REDu']].to_csv('results/genes_for_pathways/Excitatory_C9ALSvsCTRL_shorend_genes.txt', sep='\t', index=False, header=False)

In [12]:
# ok lets do all this for all the cell types and C9ALSvsCTRL and sALSvsCTRL
main_cts = ['Excitatory', 'Inhibitory', 'Astrocytes', 'Oligodendrocytes', 'Microglia', 'OPC']
CTs = [ct for ct in os.listdir() if 'CTRL' in ct and any(main_ct in ct for main_ct in main_cts)]
CTs = list(set(CTs))
CTs

['Oligodendrocytes_sALSvsCTRL',
 'OPC_sALSvsCTRL',
 'Excitatory_sALSvsCTRL',
 'Astrocytes_C9ALSvsCTRL',
 'Excitatory_C9ALSvsCTRL',
 'Oligodendrocytes_C9ALSvsCTRL',
 'Astrocytes_sALSvsCTRL',
 'Inhibitory_C9ALSvsCTRL',
 'Microglia_C9ALSvsCTRL',
 'Inhibitory_sALSvsCTRL',
 'OPC_C9ALSvsCTRL',
 'Microglia_sALSvsCTRL']

In [19]:
# ok lets do all this for all the cell types and C9ALSvsCTRL and sALSvsCTRL
for CT in CTs:
    print(CT)
    df = pd.read_csv(f'{CT}/gene.txt', sep='\t')
    long_df = df[(df['REDu'] < -1) & (df['REDu.pval'] < 0.001)] # this genes that are longer in ALS than CTRL
    short_df = df[(df['REDu'] > 1) & (df['REDu.pval'] < 0.001)] # this genes that are shorter in ALS than CTLR
    long_df['REDu'] = long_df['REDu'] * -1
    # sort by REDu descending
    long_df.sort_values(by=['REDu'], ascending=False, inplace=True)
    short_df.sort_values(by=['REDu'], ascending=False, inplace=True)
    # remove inf and -inf and dropna
    long_df.replace([np.inf, -np.inf], np.nan, inplace=True)
    long_df.dropna(inplace=True)
    short_df.replace([np.inf, -np.inf], np.nan, inplace=True)
    short_df.dropna(inplace=True)
    # write the gene and REDu values to a file
    long_df[['gene', 'REDu']].to_csv(f'results/genes_for_pathways/{CT}_lengthend_genes.txt', sep='\t', index=False, header=False)
    short_df[['gene', 'REDu']].to_csv(f'results/genes_for_pathways/{CT}_shorend_genes.txt', sep='\t', index=False, header=False)

Oligodendrocytes_sALSvsCTRL
OPC_sALSvsCTRL
Excitatory_sALSvsCTRL
Astrocytes_C9ALSvsCTRL
Excitatory_C9ALSvsCTRL

/tmp/ipykernel_10844/3756062640.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  long_df['REDu'] = long_df['REDu'] * -1
/home/aiden/anaconda3/envs/for_DL/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/home/aiden/anaconda3/envs/for_DL/lib/python3.8/site-packages/pandas/core/frame.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

Oligodendrocytes_C9ALSvsCTRL
Astrocytes_sALSvsCTRL
Inhibitory_C9ALSvsCTRL
Microglia_C9ALSvsCTRL
Inhibitory_sALSvsCTRL
OPC_C9ALSvsCTRL
Microglia_sALSvsCTRL

In [6]:
import plotly

In [3]:
# lets make volcano plot with REDu and REDu.pval

def plot_volcano(df):
    """Plot volcano plot with REDu on x axis and REDu.pval on y axis"""

,gene,npas,pval,RLDu,RLDi,REDu,REDu.pval,REDi,REDi.pval,nread.c1.1,nread.c1.2,nread.c1.3,nread.c1.4,nread.c1.5,nread.c2.1,nread.c2.2,nread.c2.3,nread.c2.4,nread.c2.5
0,B3GALT6,2,0.000002,1.600,NaN,2.720,6.070000e-07,NaN,NaN,0,72,0,0,0,0,0,0,63,0
1,PUSL1,4,0.130000,0.212,NaN,0.964,1.220000e-02,NaN,NaN,37,193,0,0,88,79,0,40,125,0
2,MIB2,2,0.003960,NaN,0.917,NaN,NaN,0.917,1.150000e-03,61,315,0,0,327,467,75,384,931,0
3,PRKCZ,4,0.003760,-0.334,0.641,-0.564,1.610000e-02,0.836,2.510000e-08,170,589,0,105,491,488,57,446,848,29
4,SKI,5,0.394000,-0.143,-0.228,-0.556,5.310000e-02,0.177,6.460000e-01,34,150,0,34,162,293,34,126,220,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9250,LAGE3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,264,0,49,0,0,0,0,134,0
9251,FAM3A,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,105,0,0,36,30,0,31,42,0
9252,G6PD,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,45,0,0,31,45,0,4,58,0
9253,MPP1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,159,0,0,93,79,0,45,133,0
9254,RAB39B,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,92,0,0,79,81,0,68,41,0